/.idea
/node_modules
/public/hot
/docker/var/nginx/logs
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.phpunit.cache/test-results
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/views/.DS_Store
.DS_Store
storage/framework/laravel-excel/


# extras
notes.txt
.eslintcache

dump.rdb
boost.json
mcp.json
boost-mcp.sh
