/node_modules
/public/hot
/docker/var/nginx/logs
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/views/.DS_Store
.DS_Store
public/.DS_Store
public/dist/.DS_Store
storage/framework/laravel-excel/*.tmp

# extras
notes.txt
.eslintcache