.select2{
    width: 100% !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: white !important;
    top: 8px !important;
    border: none !important;
    left: 2px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{
    color: white !important;
    background-color: #3498db !important
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #3498db !important;
    color: white !important;
    padding: 8px 20px 8px 22px !important;
    font-family: calibri !important;
    font-size: 13px !important;
    font-weight: 600 !important;

}
.select2-container--default .select2-search--inline .select2-search__field{
    width: 100% !important;
}

.remove_additional_btn, #add_additional_btn{
    padding-top: 39px;
  }

  .conversion-td{

    border: 1px solid black;
}
.conversion_table td{
    text-align: center !important;
}

/* Shared view  */
div.dt-buttons {
    position: relative;
    float: left;
}

.additional-filters {
    margin-bottom: 25px;
}

td {
    word-wrap: break-word;
}

.select2-results__option--selected {
    display: none;
}

.select2-results__option[aria-selected=true] {
    display: none;
}

.select2{
    width: 90% !important;
}

div.dataTables_wrapper div.dataTables_processing {
    font-size: 30px !important;
    border: none !important;
    background-color: transparent !important;
    color: #4183BD !important;
    padding: 0px !important;
    height: 110px !important;
    width: 250px !important;
}

.dataTables_paginate .paginate_button.active {
    background: blue !important;
}

.pagination {
    margin-top: 12px !important;
}

.dataTables_paginate .paginate_button.active a {
    background: #71A1CC !important;
    border-radius: 3px;
    color: white;
}

.select2-results__option--highlighted {
    background: #4183BD !important;
    color: #fff;
    cursor: pointer !important;
}

.date-search-field {
    background-position: 99% center;
    background-size: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='h-6 w-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-color: #FFF !important;
}
/* Shared view  */
