@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 16rem;
}

body {
  @apply bg-gray-50/75 antialiased text-gray-900;
}

label {
  @apply text-sm;
}

.x-button {
  @apply font-semibold;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
