@tailwind base;
@tailwind components;
@tailwind utilities;

.menu_section {
  @apply flex flex-col gap-1 transition-all duration-300;
}

.main_menu a i.fa {
  @apply text-xl inline-block opacity-95 w-7;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.main_menu a span.fa {
  @apply text-xs inline-block opacity-95;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.side-menu li a {
  @apply flex gap-2 items-center px-3 py-2 relative cursor-pointer text-sm font-semibold opacity-90 hover:opacity-100 hover:bg-gray-900/50;
}

.minimized .side-menu li a {
  @apply flex-col text-center text-xs gap-0;
}

.side-menu > li > a > *:nth-child(2) {
  @apply absolute right-2.5;
}

ul.child_menu {
  @apply max-h-0 overflow-hidden;
}

li.active > ul.child_menu {
  @apply max-h-full;
}

li.active span.fa {
  @apply transform rotate-90;
}

.child_menu li a {
  @apply pl-12;
}

.minimized .child_menu li a {
  @apply pl-2 text-left items-start;
}
